
<div id="banner" class="page-header">
	<div class="row">
		<div class="col-md-10">
			<img class="about-img" src="../../assets/img/car.jpg" />
		</div>
	</div>

	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4 col-sm-12" style="text-align: center;">
			<h1>{{ pageContent.title }}</h1>
			<hr class="hStyle">
		</div>
		<div class="col-md-4"></div>
	</div>

	<br>



	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10 col-sm-12 text-justify">
			<blockquote class="bq">
        A+ Standing with the Better Business Bureau
        8th highest rated dealership in Ontario on Dealer Rater 2017
        We're open late, 6 days a week and have two locations to help serve you better!
        Compelling customer reviews, 4.8/5 rating on Dealer Rater with over 200 online reviews, a 4.7/5 rating on google with 100+ reviews and a 4.7/5 rating on Facebook
        Family owned and operated since 1975

			</blockquote>

			<br>

			<blockquote class="bq">
        Authorized dealer offering competitive financing rates with over 15 prime and sub prime lendersRates from 4.65%-5.99% with variable and fixed rate options O.A.C and we offer job loss protection for all financing customers
        Ontario Motor Vehicle Industry Council (OMVIC) registered & compliant
        Membership with the Used Car Dealer Association since the year 2000
        Free 85 point inspection by our certified and experienced technical team
        Free vehicle history report + lien check Over 200 low km, 1 owner, ACCIDENT FREE lease returns
        Coast to coast Canada shipping
			</blockquote>
		</div>
		<div class="col-md-1"></div>
	</div>

</div>
